@model SpellsDatabase

<ol>

    @for(var i = 0; i < @Model.Count(); i++)
    {
        <li>@Model.Get(i).Spell - <a href = "spells/viewSpell/@i">View Spell</a></li>
    }

</ol>

<form method="post" action="/spells/add">
    <input type = "text" name = "spellName" />

    <input type = "submit" value= "Add New Spell" />

</form>
